.logo {
  display: inline-block;
  vertical-align: top;
  user-select: none;
  outline: none !important;
  transition: opacity $trans-base, transform $trans-base;

  &:hover {
    opacity: 0.72;
  }

  &:active {
    transform: scale(0.95);
  }

  &__img {
    display: inline-block;
    vertical-align: top;
  }
}
